<!--
  Author: Asif Rana, Georgia Institute of Technology
  Version: January 27, 2017
-->

<launch>
  <!-- Arm Params -->
  <arg name="home_arm_on_init" default="false" />

  <!-- Gripper Params -->
  <arg name="comport" default="/dev/ttyUSB0"/>
  <arg name="baud" default="115200"/>

  <!-- Jaco 2 -->
  <include file="$(find wpi_jaco_wrapper)/launch/arm.launch">
    <arg name="arm_name" value="jaco2" />
    <arg name="kinova_gripper" value="false" />
    <arg name="home_arm_on_init" value="$(arg home_arm_on_init)" />
  </include>
	
  <include file="$(find jaco2_bringup)/launch/robot_model.launch" />

  <!-- Robotiq 85 ROS Driver -->
   <node pkg="robotiq_85_driver" type="robotiq_85_driver" name="robotiq_85_driver" respawn="true" output="screen">
    <param name="num_grippers" value="1" />
    <param name="comport" value="$(arg comport)" />
    <param name="baud" value="$(arg baud)" />
  </node>
  <node pkg="robotiq_85_gripper_actions" type="gripper_actions" name="gripper_actions" />

   <!-- MoveIt -->
  <!--<include file="$(find jaco_moveit_config)/launch/jaco_moveit_full.launch" />-->

</launch>
